@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: var(--font-sofia);
  }

  body {
    @apply bg-primary-white text-primary-black;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes reflect {
  0% {
    transform: translateX(-100%) rotate(45deg);
    opacity: 0;
  }
  6% {
    opacity: 0.8;
  }
  12% {
    transform: translateX(200%) rotate(45deg);
    opacity: 0;
  }
  100% {
    transform: translateX(200%) rotate(45deg);
    opacity: 0;
  }
}

.reflect-effect {
  position: absolute;
  width: 100%; /* Растягиваем по ширине кнопки */
  height: 200%; /* Высота блика (на случай скругления) */
  background: rgba(255, 255, 255, 0.5); /* Полупрозрачный белый цвет */
  top: -50%; /* Центрируем по вертикали относительно кнопки */
  left: -100%; /* Начинаем слева за пределами кнопки */
  transform: rotate(45deg); /* Угол наклона блика */
  pointer-events: none; /* Блик не перехватывает клики */
  animation: reflect 8s ease-in-out infinite; /* Анимация блика */
}

.button-container {
  position: relative;
  display: inline-block;
  overflow: hidden; /* Ограничиваем область блика */
  border-radius: 8px; /* Скругляем углы кнопки (опционально) */
}
