@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --font-fallback: var(--font-jetbrains);
}

html[lang="en"] {
 --font-primary: var(--font-azeret);
}

html:not([lang="en"]) {
 --font-primary: var(--font-jetbrains);
}

body {
 background-color: white;
 min-height: 100vh;
 color: black;
 font-family: var(--font-primary), var(--font-fallback), monospace;
}

.appkit-button {
 --appkit-button-primary-color: black;
 --appkit-button-text-color: white;
 --appkit-button-font-family: ui-monospace;
 --appkit-button-border-radius: 0;
 --appkit-button-height: 40px;
 --appkit-button-min-width: 100%;
 --appkit-button-text-transform: uppercase;
}